body {
  --cart-width: 680px;

  @media (width < 930px) {
    --cart-width: 100%;
  }
}

.paper {
  color: var(--text-primary);
}

.sample {
  display: grid;
  gap: var(--unit-x5);
  margin-block-start: var(--unit-x5);
  inline-size: var(--cart-width);

  & > *:not(:last-child) {
    padding-block: var(--unit-x4);
    border-block-end: 1px solid var(--surface-divider);
  }
}