.layout {
  position: relative;
  display: grid;
  gap: var(--unit-x7);
  padding-inline: var(--unit-x10);
  
  @media (width <= 930px) {
    grid-template: 
      "cart"
      "summary";
  }

  @media (width >= 930px) {
    grid-template:
      "summary"  
      "cart";
  }
}

.cart {
  grid-area: cart;
}

.summary {
  grid-area: summary;
}