.container {
  display: grid;
  grid-template-columns: minmax(30px, 40px) 1fr minmax(70px, 100px);
}

.sample {
  flex-grow: 1;
}

.footer {
  position: relative;
  align-self: self-start;
  color: var(--magenta);
  text-align: end;
  block-size: 100%;
}

.quantity {
  position: absolute;
  inset-block-end: 0;
}