.checkbox {
  --checkbox-radius: 8px;
  --checkbox-size: var(--unit-x7);
  --checkbox-shadow-blur: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  block-size: var(--checkbox-size);
  inline-size: var(--checkbox-size);
  border: 1px solid var(--surface-border);
  border-radius: var(--checkbox-radius);
  box-shadow: var(--surface-hover) 0 0 0 var(--shadow-blur);

  & svg {
    block-size: calc(var(--checkbox-size) - 8px);
    inline-size: calc(var(--checkbox-size) - 8px);
    pointer-events: none;
  }

  &:has(button:focus-visible) {
    --shadow-blur: 4px;
  }

  @media (hover: hover) {
    &:has(button:hover) {
      --shadow-blur: 4px;
    }
  }
}

.button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: var(--checkbox-radius);
  block-size: var(--checkbox-size);
  inline-size: var(--checkbox-size);
}

.input {
  position: absolute;
  margin: 0;
  pointer-events: none;
  opacity: 0%;
  transform: translateX(-100%);
  block-size: var(--checkbox-size);
  inline-size: var(--checkbox-size);
}