@import url('./reset.css');
@import url('./colors.css');
@import url('./units.css');

@font-face {
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 100 800;
  src: url(./MartianGroteskTRIAL-VFVF.woff2) format('woff2');
  font-display: swap;
}

body,
kbd,
button {
  font-family: "Martian Mono", monospace;
  font-size: 15px;
}