@import url('./reset.css');
@import url('./colors.css');
@import url('./units.css');

@font-face {
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 100 800;
  src: url(./MartianGroteskTRIAL-VFVF.woff2) format('woff2');
  font-display: swap;
}

body,
kbd,
button {
  font-family: "Martian Mono", monospace;
  font-size: 15px;
  background: var(--bg-base-accent);
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  inline-size: 0;
}

:root {
  color-scheme: var(--color-scheme, light);
}